In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

%load_ext autoreload
%autoreload 2

### Get data from BNM website - Interest rates

In [2]:
url = f"http://www.bnm.gov.my/index.php?csrf=763f5fd71de42b8080d3a6f690fd73be34361844&\
        ch=mmv&pg=stats_moneymarket&type=1&select=index.php%3Fch%3Dmmv%26pg%3Dstats_moneymarket%26type%3D1&\
        StartMth=1&StartYr=2000&EndMth=12&EndYr=2019"

agent = {"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'}

page = requests.get(url, headers=agent)

soup = BeautifulSoup(page.content, 'lxml')

In [4]:
def generate_df():

    df = []

    # Get header columns
    headers = [x.text.strip() for x in soup.find_all('th')]
    
    # Get data values
    for tr in soup.find_all('tr'):
        tds = tr.find_all('td')
        tds = df.append([x.text.strip() for x in tds])

    df = df[3:-1]
    
    # Concat the 2 dfs
    return pd.concat([pd.DataFrame(headers).T, pd.DataFrame(df)])

In [5]:
df = generate_df()

# Promote 1st row and drop
df.columns = df.iloc[0]
df = df.iloc[1:,:].copy()

# Set datetime index
df.Date = pd.to_datetime(df.Date, format="%d %b %Y")
df.set_index('Date', inplace=True)

# Convert values to numeric
df.replace('-', '', inplace=True)
df = df.apply(pd.to_numeric)

In [6]:
df

0           Overnight  1 Week  1 Month  3 Month  6 Month  1 Year
Date
2015-01-27       3.25    3.26     3.28      NaN      NaN     NaN
2015-01-28       3.25    3.25     3.28      NaN      NaN     NaN
2015-01-29       3.25    3.25      NaN      NaN      NaN     NaN
2015-01-30       3.24    3.25     3.28      NaN      NaN     NaN
2015-01-31       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-01       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-04       3.16    3.23     3.29      NaN      NaN     NaN
2015-02-05       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-06       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-07       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-08       3.24    3.25     3.28      NaN      NaN     NaN
2015-02-09       3.13    3.25     3.28      NaN      NaN     NaN
2015-02-10       3.24    3.25      NaN      NaN      NaN     NaN
2015-02-11       3.25     NaN      NaN      NaN      NaN     NaN
2015-02-12       3.25    3.25      NaN      NaN      NaN     NaN
2015-02-13       3.24     NaN     3.28      NaN      NaN     NaN
2015-02-14       3.24     NaN     3.28      NaN      NaN     NaN
2015-02-15       3.24     NaN     3.28      NaN      NaN     NaN
2015-02-16       3.24     NaN      NaN      NaN      NaN     NaN
2015-02-17       3.23    3.24      NaN      NaN      NaN     NaN
2015-02-18       3.24     NaN      NaN      NaN      NaN     NaN
2015-02-19       3.24     NaN      NaN      NaN      NaN     NaN
2015-02-20       3.24     NaN      NaN      NaN      NaN     NaN
2015-02-21       3.24     NaN      NaN      NaN      NaN     NaN
2015-02-22       3.24     NaN      NaN      NaN      NaN     NaN
2015-04-24       3.24    3.24     3.28      NaN      NaN     NaN
2015-04-25       3.24    3.24     3.28      NaN      NaN     NaN
2015-04-26       3.24    3.24     3.28      NaN      NaN     NaN
2015-04-30       3.25    3.25     3.28      NaN      NaN     NaN
2015-05-01       3.25    3.25     3.28      NaN      NaN     NaN
...               ...     ...      ...      ...      ...     ...
2016-11-07       3.00    3.03     3.08      NaN      NaN     NaN
2016-11-08       3.00    3.03     3.08      NaN      NaN     NaN
2016-11-09       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-10       2.96    3.03     3.08      NaN      NaN     NaN
2016-11-11       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-12       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-13       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-14       2.99    3.03      NaN      NaN      NaN     NaN
2016-11-15       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-16       2.97    3.03      NaN      NaN      NaN     NaN
2016-11-17       2.99    3.02      NaN      NaN      NaN     NaN
2016-11-18       2.97    3.02     3.08      NaN      NaN     NaN
2016-11-19       2.97    3.02     3.08      NaN      NaN     NaN
2016-11-20       2.97    3.02     3.08      NaN      NaN     NaN
2016-11-21       2.99    3.02      NaN      NaN      NaN     NaN
2016-11-22       2.99    3.02      NaN      NaN      NaN     NaN
2016-11-23       2.98    3.02      NaN      NaN      NaN     NaN
2016-11-24       2.99    3.02      NaN      NaN      NaN     NaN
2016-11-25       2.99    3.02     3.08      NaN      NaN     NaN
2016-11-26       2.99    3.02     3.08      NaN      NaN     NaN
2016-11-27       2.99    3.02     3.08      NaN      NaN     NaN
2016-11-28       2.99    3.03     3.08      NaN      NaN     NaN
2016-11-29       2.92    3.03      NaN      NaN      NaN     NaN
2016-11-30       2.99    3.03     3.08      NaN      NaN     NaN
2016-12-01       2.99    3.03     3.08      NaN      NaN     NaN
2016-12-02       2.98    3.02      NaN      NaN      NaN     NaN
2016-12-03       2.98    3.02      NaN      NaN      NaN     NaN
2016-12-04       2.98    3.02      NaN      NaN      NaN     NaN
2016-12-05       2.97    3.02      NaN      NaN      NaN     NaN
2016-12-06       2.99    3.02      NaN      NaN      NaN     NaN

[607 rows x 6 columns]